.home-view {
    position          : relative;
    -ms-overflow-style: none;
    scrollbar-width   : none;

    ::-webkit-scrollbar {
        display: none;
    }

    >.video-container {
        >video {
            object-fit: cover;
            width     : 100vw;
            height    : 100vh;
        }
    }

    >.audio-container {
        position        : absolute;
        bottom          : 0px;
        margin          : 20px;
        border-radius   : 8px;
        background-color: rgba(0, 0, 0, 0.7);
        box-sizing      : border-box;
        cursor          : pointer;
        display         : inline-block;
        width           : 170px;
        height          : 100px;
        display         : flex;
        align-items     : flex-end;

        >.play-container {
            height     : 100%;
            display    : flex;
            align-items: center;

            >img {
                height     : 120px;
                align-items: flex-end;
                z-index    : 999;
            }

            >audio {
                display: none;
            }

            .play-button::before,
            .play-button.playing::before {
                content     : '';
                display     : inline-block;
                border      : 0;
                background  : transparent;
                box-sizing  : border-box;
                width       : 0;
                height      : 32px;
                margin-right: 10px;
                margin-left : 16px;

                border-color: transparent transparent transparent white;
                transition  : 100ms all ease;
                cursor      : pointer;

                // play state
                border-style: solid;
                border-width: 16px 0 16px 24px;
            }

            .play-button.playing::before {
                border-style: double;
                border-width: 0px 0 0px 16px;
            }
        }
    }

    >.npc-container {
        position: absolute;
        top     : 44%;
        left    : 27%;

        >.npc1 {
            max-width: 128px;
        }

        >.dialog {
            position        : absolute;
            top             : 0%;
            left            : 50%;
            font-family     : "slkscre";
            padding         : 12px;
            background-color: rgba(4, 5, 6, 0.85);
            color           : white;
            border-radius   : 8px;

            &:hover {
                border: solid 1px white;
            }
        }

        >.wallet-dialog {
            display         : none;
            position        : absolute;
            top             : -88px;
            right           : -100px;
            font-family     : "slkscre";
            padding         : 12px;
            background-color: rgba(4, 5, 6, 0.85);
            color           : white;
            border-radius   : 8px;
            min-width       : 512px;

            >a {
                display         : flex;
                justify-content : center;
                font-family     : "slkscre";
                padding         : 12px;
                background-color: rgba(255, 255, 255, 0.85);
                color           : black;
                border-radius   : 8px;
                margin-top      : 12px;

                &:hover {
                    color: white;
                }
            }

            &:hover {
                border: solid 1px white;
            }
        }
    }
}