/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: "slkscre";
  src: url("../fonts/slkscre.woff2") format("woff2");
}
@font-face {
  font-family: "slkscreb";
  src: url("../fonts/slkscreb.woff2") format("woff2");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u-w4BMUTPHjxsIPy-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI9w2PHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u8w4BMUTPHjxswWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI5wqPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI3wiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u8w4BMUTPHh30wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh7USew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh50Xew8.ttf) format('truetype');
}
body {
  font-family: 'Lato', sans-serif;
  background: black;
  color: white;
  display: flex;
  margin: auto;
}
.layout {
  width: 100%;
}
.layout > header {
  display: flex;
  justify-items: center;
  width: 100%;
  height: 52px;
  position: fixed;
  top: 0;
  z-index: 3;
  margin-top: 8px;
}
.layout > header > .nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 0px 50px;
}
.layout > header > .nav > .logo {
  flex-grow: 1;
}
.layout > header > .nav > .logo > h1 > img {
  height: 100px;
}
.layout > header > .nav > .menu-btn,
.layout > header > .nav .menu-icon {
  display: none;
}
.layout > header > .nav > .menu > .item {
  display: flex;
  float: left;
  font-weight: 300;
}
.layout > header > .nav > .menu > .item > a {
  cursor: pointer;
  padding: 8px 24px;
  text-decoration: none;
  color: white;
  font-size: 21px;
}
.layout > header > .nav > .menu > .item > a > img {
  height: 32px;
}
.layout > header > .nav > .menu > .item > a:hover {
  border-radius: 8px;
  background-color: rgba(99, 46, 207, 0.3);
}
.layout > header > .nav > .menu > .item > a:active {
  background-color: rgba(99, 46, 207, 0.5);
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav > .menu-btn {
    display: none;
  }
  .layout > header > .nav > .menu-btn:checked ~ .menu {
    display: block;
    max-height: 52px;
  }
  .layout > header > .nav > .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .layout > header > .nav > .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .layout > header > .nav > .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .layout > header > .nav > .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .layout > header > .nav > .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  .layout > header > .nav > .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 8px;
    position: relative;
    user-select: none;
  }
  .layout > header > .nav > .menu-icon > .navicon {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  .layout > header > .nav > .menu-icon .navicon:before,
  .layout > header > .nav > .menu-icon .navicon:after {
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .layout > header > .nav > .menu-icon .navicon:before {
    top: 5px;
  }
  .layout > header > .nav > .menu-icon .navicon:after {
    top: -5px;
  }
  .layout > header > .nav > .menu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .layout > header > .nav > .menu > .item {
    display: block;
    width: 100%;
    background-color: transparent;
  }
  .layout > header > .nav > .menu > .item > a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
  .layout > header > .nav > .menu > .item > a:hover {
    color: black;
    background-color: #333332;
  }
  .layout > header > .nav > .menu > .item > button {
    margin: 0px 20px;
  }
}
.layout > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.home-view {
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.home-view ::-webkit-scrollbar {
  display: none;
}
.home-view > .video-container > video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
.home-view > .audio-container {
  position: absolute;
  bottom: 0px;
  margin: 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  width: 170px;
  height: 100px;
  display: flex;
  align-items: flex-end;
}
.home-view > .audio-container > .play-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.home-view > .audio-container > .play-container > img {
  height: 120px;
  align-items: flex-end;
  z-index: 999;
}
.home-view > .audio-container > .play-container > audio {
  display: none;
}
.home-view > .audio-container > .play-container .play-button::before,
.home-view > .audio-container > .play-container .play-button.playing::before {
  content: '';
  display: inline-block;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 32px;
  margin-right: 10px;
  margin-left: 16px;
  border-color: transparent transparent transparent white;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 16px 0 16px 24px;
}
.home-view > .audio-container > .play-container .play-button.playing::before {
  border-style: double;
  border-width: 0px 0 0px 16px;
}
.home-view > .npc-container {
  position: absolute;
  top: 44%;
  left: 27%;
}
.home-view > .npc-container > .npc1 {
  max-width: 128px;
}
.home-view > .npc-container > .dialog {
  position: absolute;
  top: 0%;
  left: 50%;
  font-family: "slkscre";
  padding: 12px;
  background-color: rgba(4, 5, 6, 0.85);
  color: white;
  border-radius: 8px;
}
.home-view > .npc-container > .dialog:hover {
  border: solid 1px white;
}
.home-view > .npc-container > .wallet-dialog {
  display: none;
  position: absolute;
  top: -88px;
  right: -100px;
  font-family: "slkscre";
  padding: 12px;
  background-color: rgba(4, 5, 6, 0.85);
  color: white;
  border-radius: 8px;
  min-width: 512px;
}
.home-view > .npc-container > .wallet-dialog > a {
  display: flex;
  justify-content: center;
  font-family: "slkscre";
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  border-radius: 8px;
  margin-top: 12px;
}
.home-view > .npc-container > .wallet-dialog > a:hover {
  color: white;
}
.home-view > .npc-container > .wallet-dialog:hover {
  border: solid 1px white;
}
.update-view {
  width: 100%;
  margin-top: 64px;
}
.update-view > aside > h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 16px;
}
.update-view > aside > .update-item {
  display: flex;
  border-radius: 4px;
  background-color: #dcdcdc;
  height: 96px;
}

